body, :root {
    background-color: white;
    color: black;
}

hr {
    /* override picocss */
    border-top: 1px solid black; 
}

.no-margin {
    margin: 0;
}

.no-color {
    color: inherit;
}

.navbar {
    background-color: #938f88;
}

.navbar li {
    /* remove vertical spacing */
    padding: var(--nav-element-spacing-horizontal);
}

.link {
    color: black;
    text-decoration: none;
}

.no-link, .no-link:focus, .no-link:hover {
    color: black;
    text-decoration: none;
}

.content {
    text-align: center;
}

.err {
    color: red;
}